<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/front_page.css" rel="stylesheet">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
</head>

<body>
  <p id="usluzbenec" style="display: none"><%=usluzbenci.id%></p>
    <div>
        <div class="tab-content">
          <div id="home" class="tab-pane fade in active">
            <div class="jumbotron text-center">
              <div class="row">
                <div class="col-xs-1 col-sm-1 col-md-1">
                  <div class="glyphicon glyphicon-user logo-large"></div></div>
                <div class="col-xs-1 col-sm-1 col-md-1">
                  <p><%= usluzbenci.ime + " " + usluzbenci.primek %></p></div>
                  
                  <div class="col-xs-8 col-sm-8 col-md-8"></div>
                  
                  <div class="col-xs-1 col-sm-1 col-md-1">
                    <button type="button" class="btn btn-default" id="createTask"><div class="glyphicon glyphicon-plus logo-large" id="plus_glyphon"></div></button></div>
                  <div class="col-xs-1 col-sm-1 col-md-1">
                    <button type="button" class="btn btn-default" id="logout"><div class="glyphicon glyphicon-off logo-large" id="logout_glyphon"></div></button></div>
              </div>
            </div>


              <div class="list-group">
              <% for(var i=0; i<naloge.length; i++) {%>
                <% if (naloge[i].usluzbenec_id == null) { %>
                  <a href="#" class="list-group-item"><%= naloge[i].imeOpravila %>
                  <button  onclick="prikaziPodatke(<%=naloge[i].task_id%>,<%=naloge[i].ehr_id%>,null,1)">Pacient</button>
                  <button class="todoItem" id="todo<%=naloge[i].task_id%>"><div class="glyphicon glyphicon-ok-circle logo-large" id="check_glyphon"></div></button></a>
                  
                   <div class="container" >
                    <div class="panel panel-default" id="show<%=naloge[i].task_id%>" style="display:none">
                        <div class="panel-body" id="panel<%=naloge[i].task_id%>"></div>
                    </div>
                 </div>
                 
                <% } %>
              <% } %>
              </div>

          </div>

          <div id="menu1" class="tab-pane fade">
            <div class="jumbotron text-center">
              <div class="row">
                <div class="col-xs-1 col-sm-1 col-md-1">
                  <div class="glyphicon glyphicon-user logo-large"></div></div>
                <div class="col-xs-1 col-sm-1 col-md-1">
                  <p><%= usluzbenci.ime + " " + usluzbenci.primek %></p></div>
                  
                  <div class="col-xs-8 col-sm-8 col-md-8"></div>
                  
                  <div class="col-xs-1 col-sm-1 col-md-1">
                    <button type="button" class="btn btn-default" id="createTask"><div class="glyphicon glyphicon-plus logo-large" id="plus_glyphon"></div></button></div>
                  <div class="col-xs-1 col-sm-1 col-md-1">
                    <button type="button" class="btn btn-default" id="logout"><div class="glyphicon glyphicon-off logo-large" id="logout_glyphon"></div></button></div>
              </div>
            </div>

           <div class="list-group">
              <% for(var i=0; i<naloge.length; i++) {%>
                <% if (!naloge[i].done && naloge[i].usluzbenec_id != null) { %>
                  <% if (naloge[i].usluzbenec_id == usluzbenci.id) { %>
                    <a href="#" class="list-group-item"><%= naloge[i].imeOpravila %>
                    <button  onclick="prikaziPodatke(<%=naloge[i].task_id%>,<%=naloge[i].ehr_id%>,<%=naloge[i].usluzbenec_id%>,null)">Pacient</button>
                    <button class="doneItem" id="done<%=naloge[i].task_id%>"><div class="glyphicon glyphicon-ok-circle logo-large" id="done_glyphon"></div></button>
                    <button class="progItem" id="prog<%=naloge[i].task_id%>"><div class="glyphicon glyphicon-ban-circle logo-large" id="ban_glyphon"></div></button></a>
                    
                    <div class="container" >
                      <div class="panel panel-default" id="see<%=naloge[i].task_id%>" style="display:none">
                           <div class="panel-body" id="panela<%=naloge[i].task_id%>"></div>
                      </div>
                    </div>
                    
                  <% } else { %>
                    <a href="#" class="list-group-item"><%= naloge[i].imeOpravila %></a>
                  <% } %>
                <% } %>
              <% } %>
           </div>
          </div>

          <div id="menu2" class="tab-pane fade">
            <div class="jumbotron text-center">
              <div class="row">
                <div class="col-xs-1 col-sm-1 col-md-1">
                  <div class="glyphicon glyphicon-user logo-large"></div></div>
                <div class="col-xs-1 col-sm-1 col-md-1">
                  <p><%= usluzbenci.ime + " " + usluzbenci.primek %></p></div>
                  
                  <div class="col-xs-8 col-sm-8 col-md-8"></div>
                  
                  <div class="col-xs-1 col-sm-1 col-md-1">
                    <button type="button" class="btn btn-default" id="createTask"><div class="glyphicon glyphicon-plus logo-large" id="plus_glyphon"></div></button></div>
                  <div class="col-xs-1 col-sm-1 col-md-1">
                    <button type="button" class="btn btn-default" id="logout"><div class="glyphicon glyphicon-off logo-large" id="logout_glyphon"></div></button></div>
              </div>
            </div>

            <div class="list-group">
              <% for(var i=0; i<naloge.length; i++) {%>
                <% if (naloge[i].done) { %>
                  <a href="#" class="list-group-item"><%= naloge[i].imeOpravila %>
                  <button  onclick="prikaziPodatke(<%=naloge[i].task_id%>,<%=naloge[i].ehr_id%>,<%=naloge[i].usluzbenec_id%>,1)">Pacient</button></a>
                  
                  <div class="container" >
                    <div class="panel panel-default" id="vidi<%=naloge[i].task_id%>" style="display:none">
                         <div class="panel-body" id="tabla<%=naloge[i].task_id%>"></div>
                     </div>
                  </div>

                <% } %>
              <% } %>
            </div>

          </div>
        </div>

        <div id="centeredmenu">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#home">TO-DO</a></li>
          <li><a data-toggle="tab" href="#menu1">IN-PROGRESS</a></li>
          <li><a data-toggle="tab" href="#menu2">DONE</a></li>
        </ul>
        </div>
    </div>


<script src="js/front_page.js"></script>
<script src="js/koda.js"></script>

</body>
</html>